<a href="https://colab.research.google.com/github/vishnu-me/IMS/blob/main/Copy_of_Summer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Summer Olympics Data Analysis Assignment

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("summer(1).csv")

In [ ]:
type(df)

pandas.core.frame.DataFrame

### 1. In how many cities Summer Olympics is held so far?

In [ ]:
df["City"].nunique()

22

In [ ]:
list(df["City"].unique())

['Athens',
 'Paris',
 'St Louis',
 'London',
 'Stockholm',
 'Antwerp',
 'Amsterdam',
 'Los Angeles',
 'Berlin',
 'Helsinki',
 'Melbourne / Stockholm',
 'Rome',
 'Tokyo',
 'Mexico',
 'Munich',
 'Montreal',
 'Moscow',
 'Seoul',
 'Barcelona',
 'Atlanta',
 'Sydney',
 'Beijing']

### 2. Which sport is having most number of Gold Medals so far? (Top 5)

In [ ]:
df[df["Medal"]=="Gold"].Sport.value_counts().head()

Aquatics      1421
Athletics     1215
Rowing         890
Gymnastics     820
Fencing        552
Name: Sport, dtype: int64

### 3. Which sport is having most number of medals so far? (Top 5)

In [ ]:
df.Sport.value_counts().head()

Aquatics      4170
Athletics     3638
Rowing        2667
Gymnastics    2307
Fencing       1613
Name: Sport, dtype: int64

### 4. Which player has won most number of medals? (Top 5)

In [ ]:
df.Athlete.value_counts().head()

PHELPS, Michael         22
LATYNINA, Larisa        18
ANDRIANOV, Nikolay      15
ONO, Takashi            13
MANGIAROTTI, Edoardo    13
Name: Athlete, dtype: int64

### 5. Which player has won most number Gold Medals of medals? (Top 5)

In [ ]:
df[df.Medal=="Gold"].Athlete.value_counts().head()

PHELPS, Michael     18
LATYNINA, Larisa     9
SPITZ, Mark          9
NURMI, Paavo         9
LEWIS, Carl          9
Name: Athlete, dtype: int64

### 6. In which year India won first Gold Medal in Summer Olympics?

In [ ]:
df2=df[df.Medal=="Gold"]
min(df2[df2.Country=="IND"].Year)

1928

### 7. Which event is most popular in terms on number of players? (Top 5)

In [ ]:
df["Event"].value_counts().head()

Football            1497
Hockey              1422
Team Competition    1147
Basketball          1012
Handball             973
Name: Event, dtype: int64

### 8. Which sport is having most female Gold Medalists? (Top 5)

In [ ]:
df2=df[df.Medal=="Gold"]
df2[df2.Gender=="Women"].Sport.value_counts().head()

Aquatics      589
Athletics     389
Gymnastics    268
Rowing        217
Volleyball    166
Name: Sport, dtype: int64